<VirtualHost *:80>
        ServerAdmin {{ apache.user }}@{{ ansible_fqdn }}
        ServerName {{ ansible_fqdn }}

        DocumentRoot {{ faxocr_home }}rails/public
        <Directory {{ faxocr_home }}rails/public >
                Options Indexes FollowSymLinks MultiViews
                AllowOverride None
{% if apache_version is version(2.4, '>=') %}
                Require all granted
{% else %}
                Order allow,deny
                allow from all
{% endif %}
                # This directive allows us to have apache2's default start page
                # in /apache2-default/, but still have / go to the right place
                #RedirectMatch ^/$ /apache2-default/
        </Directory>
{% if ansible_distribution == 'Ubuntu' and ansible_distribution_major_version is version(12, '<=') %}
	SetEnv RAILS_ENV {{ rails_env | default('production') }}
{% endif %}
	RackEnv {{ rails_env | default('production') }}
        RackBaseURI /

        ErrorLog /var/log/apache2/error-faxocr-production.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog /var/log/apache2/access-faxocr-production.log combined
        ServerSignature On

</VirtualHost>
